<div class="content mat-elevation-z4">
  <app-toolbar-title title="Cursos" icon="fa-graduation-cap">
    <button mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>
  </app-toolbar-title>
  <div class="container">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum facere rerum dolore delectus fuga ex sunt velit. Sapiente dicta, iste doloribus, voluptates error sunt, harum voluptatum porro magnam labore accusantium.
    Aliquid minus nostrum tempore quod culpa sint dolorem quaerat accusantium libero nam unde, vel laboriosam labore est non provident debitis in iusto dolore. Eligendi soluta cumque expedita, iste qui voluptatem.
    Delectus voluptas quia reiciendis sint odio harum tenetur porro quod eaque voluptates, mollitia reprehenderit facere exercitationem consectetur fugiat repellendus doloremque! Quaerat maiores consectetur illo ex accusamus ab quia deserunt possimus?
    Laudantium harum temporibus aliquid fugiat alias quo laborum molestiae vero a laboriosam cumque commodi quia hic doloribus voluptates modi sunt labore dignissimos consectetur magni excepturi, minus reprehenderit quos error. Provident?
    Deleniti modi reprehenderit culpa quisquam, autem eum voluptatum quo. Exercitationem necessitatibus fugit aspernatur tempora! Odit vel, eligendi, ducimus ex veritatis laudantium numquam voluptatum labore quasi, deleniti sunt quae nam a!
    Odio ex doloribus iusto excepturi dicta officia esse maiores sit repellendus quae pariatur accusamus exercitationem deleniti dolore sint, veritatis velit enim molestias dolor sed provident minima. Autem officiis quibusdam vel.
    Est distinctio odio esse illum, suscipit ea illo magnam temporibus eius totam deserunt natus. Dolor doloremque reiciendis repellat. Odit quasi voluptatibus illum fuga dolorem fugit culpa quae reiciendis nesciunt deserunt.
    Rem perferendis totam cum sequi itaque, omnis harum. Sapiente repellendus quo quam aspernatur deleniti, molestiae officia ratione minima at molestias dolores! Nemo eius quibusdam officiis porro, nesciunt repudiandae distinctio quaerat.
    Cumque similique eum earum in excepturi aut ratione esse error perferendis, enim repudiandae impedit fugiat sed, placeat odio est deleniti quidem. Rerum exercitationem perferendis, tenetur temporibus vel error quis deleniti.
    Sit explicabo aperiam animi corrupti, quidem nostrum, dicta earum nesciunt omnis repudiandae a officiis? Id, iste! Fugit, expedita, neque dolorum harum quos error in ut at eos est ullam sed.
    Amet dicta autem perferendis dolorem maiores asperiores assumenda officiis? Odit sint dolorum error. Architecto, iure voluptate et ullam dolorum illum voluptates est assumenda soluta nemo, deleniti vero suscipit sequi ratione.
    Voluptatum ad ducimus, corporis vero mollitia minima, enim tempore laudantium pariatur, numquam fuga exercitationem praesentium. Dolor dolorum officiis facere laudantium, iure, similique fugit nostrum, veritatis excepturi rerum eaque voluptates molestias!
    Quia ea numquam cumque quos harum temporibus, at, reprehenderit recusandae blanditiis ex laborum porro excepturi. Laboriosam, rerum? Voluptas minima voluptates quia, voluptate deserunt impedit iusto ducimus esse molestias doloremque cum!
    Alias quia quidem cupiditate. Perspiciatis obcaecati nobis sint commodi quas quia deleniti? Praesentium consectetur doloribus aspernatur dolorem ex dolore facilis, totam amet veritatis sunt qui, repellat rerum maiores commodi excepturi.
    Dicta officia error veritatis molestias similique eos aliquid necessitatibus velit laborum, maxime voluptatum mollitia quia aspernatur laudantium, molestiae itaque facilis. Fugit dicta labore voluptatibus repellat ipsum quam, ad laudantium numquam.
    Rerum, minus exercitationem. Provident magni iusto iste porro ex, doloremque minus eveniet ipsum fugit placeat nostrum quia ea excepturi odio quis necessitatibus consectetur temporibus error ad omnis distinctio ipsa esse.
    Aspernatur molestiae beatae vero voluptatem, fugiat tempore voluptatibus optio excepturi veritatis! Exercitationem minima corrupti, ab iste harum culpa accusantium debitis magnam quisquam deserunt consectetur ipsa necessitatibus quo earum voluptatum a.
    Porro delectus esse quod assumenda ratione voluptates doloremque! Quod deleniti asperiores magni maxime facilis amet vitae maiores quis numquam reiciendis labore voluptate nostrum facere at autem impedit, atque repellendus possimus?
    Ut amet illum nemo! Voluptas, facere eum commodi optio minus, delectus animi dolore ipsa eaque libero minima sint illum, fugit deserunt et eligendi cum ad magni voluptates sed nobis veniam.
    Eos quidem aliquam laudantium? Veritatis natus temporibus vel aliquam porro eaque voluptatum, voluptatibus et! Placeat laboriosam ad asperiores possimus dolore quisquam? Laborum tempora recusandae sapiente similique itaque fugiat est dicta?
    <router-outlet></router-outlet>
  </div>
</div>

